//Colors of project

//Black Scale
$black-medium: #151B26;


//Gray
$gray-1: #252626;
$dark-gray: #1f2937;

//White Scale
$white-normal: #F2F7E9;
$white-light: #FBFFF5;
$white-snow: #f9f9f9;


//Main Colors
$dark-blue: #00427A;


//Auxiliary Colors
$adventure-orange: #FF6B35;
