
@use '../base/colors' as colors;
@use '../base/mixin-layout' as mix;

/* ===============================
          HERO SLIDER
=============================== */

.hero{
     
      background-size: cover;
      background-position: center; /* fixa o ponto de referência */

      height: 77vh; /* altura da seção */
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 1px 1px 3px #000;

      
      
}

.hero-slider{
  position: relative;
 width: 100%;  /* melhor que 100vw */
  height: 85vh;
  /*overflow: hidden; talvez com a tag nav*/

  @include mix.responsive(mobile){
       
        height: 55vh;
      }
}

.slide{
  background-position: center; /* aqui também */
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 80px;
  opacity: 0;                    
  transition: opacity 1s ease;   
  /* z-index: 0;  talvez com a nav*/
}


.slide-caption{
 
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;  
}

.slide.active {
  opacity: 1;
}

.slide.active .slide-caption{
  opacity: 1;
   transform: translateY(0);
}

.arrow-btn{
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10; 
  width: 40px;
  height: 40px;

   img{
    
    @include mix.responsive(mobile){
      width: 35px;
      height: 35px;
    }
    
    transition: transform 0.2s;

  &:hover{ 
    transform: scale(1.2);
  }
   }

  
}

.left {
  left: 16px;
}

.right {
  right: 16px;
}

.tour-name{
  letter-spacing: 5px;
 text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.tour-description{
  font-size: 22px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.9);
  color: colors.$white-light;
}



